{% load static %}
<style>
  .item{
  transition:.5s ease-in-out;
  }
</style>
  <section class="country_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>
        <div class="item col-md-4">
          <a href="{% static 'images/c1.jpg' %}" class="box fancybox" data-fancybox="gallery1">
            <img src="{% static 'images/c1.jpg' %}" alt="">
            <div class="detail-box">
              <h3>
                France
              </h3>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>