{% extends "index.html" %}
{% load static %}
      {% block add %}
        <div class="row justify-content-center">
            <div class="col-md-4"><a href="{% url 'home' %}" class="btn btn-dark my-3">Go Back</a>
                <div class="card">
                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group m-3">
                            <label>Create a new member</label>
                            <input required name="member_name" type="text" placeholder="enter name" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Description</label>
                            <input required name="description" type="text" placeholder="Enter a description" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your facebook link</label>
                            <input name="facebook" type="text" placeholder="enter url with https//: (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your youtube link</label>
                            <input name="youtube" type="text" placeholder="enter url with https//: (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your twitter link</label>
                            <input name="twitter" type="text" placeholder="enter url with https//: (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your linkedin link</label>
                            <input name="linkedin" type="text" placeholder="enter url with https//: (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your instagram link</label>
                            <input name="instagram" type="text" placeholder="enter url with https//: (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                            <label>Enter your whatsapp number</label>
                            <input name="whatsapp" type="text" placeholder="enter your 10 digits mobile no. (optional)" class="form-control">
                        </div>
                        <div class="form-group m-3">
                        <div class="card my-2"><img id="preview"  class="image-thumbail" /></div>
                            <label>Upload image</label><input required name="member_image" id="id_profile_pic" type="file" multiple class="form-control-file" accept="image/*" onchange="previewImage(event)">
                        </div>
                        <button type='submit' class="btn btn-primary">Submit</button>
                        <a href="{% url 'add_team' %}" class="btn btn-primary m-3">Cancle</a>
                    </form>
                </div>
            </div>
        </div>

<script>
   const previewImage = e => {
      const preview = document.getElementById('preview');
      preview.src = URL.createObjectURL(e.target.files[0]);
      preview.onload = () => URL.revokeObjectURL(preview.src);
   };
</script>
        {% endblock %}

